/* Table tree
-----------------------------------------------------------------------*/
.tree-table tr.open {
    background: #f1f1f1;
}


.treegrid-indent {
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 16px;
}

.treegrid-expander {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}