/* Other
----------------------------------------------------------------------*/
.main-logo {
    padding-top: 35px;
}

.team-member-caption p {
    padding: 0 9px 23px;
}

#switcher {
    width: 260px;
}

.contact-page-info .social-contact ul li.linkedin a i {
    background-color: #0274b3;
}

.call-action-all .action-btn .btn-primary {
    display: inline-block;
    margin: auto 2px;
}

.present-block {
    padding: 60px 15px;
    position: relative;
}

.present-block i {
    font-size: 3em;
    margin-right: 1.5rem;
}

.present-block a {
    position: relative;
    top: -7px;
    font-size: 1.5em;
}

#accordion {
    margin-bottom: 0 !important;
}

#accordion .panel-body {
    padding: 15px 25px;
}

#accordion .panel-heading,
#accordion .panel-body {
    background-color: #fff;
}

#section-faq {
    padding-bottom: 80px;
}

.feature-box .feature-box-content > h2 {
    margin-top: 0 !important;
}

.btcwdgt-headlines.btcwdgt-clean {
    min-width: 65% !important;
}

.chart-widget {
    padding: 60px;
}

/* Contact forms
----------------------------------------------------------------------*/
.contact-form {
    margin-top: 20px;
}

@media (min-width:767px) {
    .contact-form {
        padding-right: 10px;
    }
}

.contact-form .btn {
    border: 0;
    border-radius: 0;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .1s;
    outline: 0;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
}

.contact-form .form-btn-send {
    background: #0095eb;
    color: #fff;
}

.contact-form .form-btn-send:hover,
.contact-form .form-btn-send:focus {
    background: rgba(0, 149, 235,.9) !important;
    outline: none !important;
}

.contact-form .help-block-error {
    color: #f51e19!important;
    font-size: .9em !important;
}

section.contact {
    padding: 50px 0 60px;
}